html {
  font-size: 15px;
  font-family: 'Arial'; }

body {
  margin: 0;
  font-family: 'arial'; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    margin-top: 0;
    font-weight: 100; }

main {
  grid-area: main;
  grid-column-start: 1;
  grid-column-end: 5; }
  @media (min-width: 1023px) {
    main {
      grid-column: 1 / 13; } }
  @media (min-width: 1260px) {
    main {
      grid-column: 1 / 10; } }
  @media (min-width: 1600px) {
    main {
      grid-column: 1 / 10; } }

aside {
  height: 100px;
  grid-column-start: 1;
  grid-column-end: 5; }
  @media (min-width: 1023px) {
    aside {
      grid-column-start: 1;
      grid-column-end: 13; } }
  @media (min-width: 1600px) {
    aside {
      grid-column-start: 11;
      grid-column-end: 13; } }

.grid, section {
  display: grid;
  width: 100%;
  margin: auto;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 1rem;
  grid-auto-flow: row;
  padding: 0 1rem;
  box-sizing: border-box; }
  @media (min-width: 1023px) {
    .grid, section {
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: 16px; } }
  @media (min-width: 1260px) {
    .grid, section {
      max-width: 1260px; } }
  @media (min-width: 1920px) {
    .grid, section {
      max-width: 1600px; } }

body {
  color: #363636; }

h1, h2, h3, h4, h5 {
  margin-bottom: 2rem; }

.heading-1 {
  font-size: 32px; }
  @media (min-width: 1023px) {
    .heading-1 {
      font-size: 42px; } }

.heading-2 {
  font-size: 28px; }
  @media (min-width: 1023px) {
    .heading-2 {
      font-size: 36px; } }

.heading-3 {
  font-size: 24px; }
  @media (min-width: 1023px) {
    .heading-3 {
      font-size: 28px; } }

.heading-4 {
  font-size: 20px;
  margin-bottom: 2rem; }
  @media (min-width: 1023px) {
    .heading-4 {
      font-size: 22px; } }

.heading-5 {
  font-size: 17px; }
  @media (min-width: 1023px) {
    .heading-5 {
      font-size: 18px; } }

.paragraph, .article .title, .top-stories__grid .article__info h2 {
  font-size: 15px;
  line-height: 21px; }
  @media (min-width: 1023px) {
    .paragraph, .article .title, .top-stories__grid .article__info h2 {
      font-size: 16px;
      line-height: 24px; } }

.small, .tag, .tag-list a, .top-stories__grid .article__info span {
  font-size: 13px;
  line-height: 18px; }
  @media (min-width: 1023px) {
    .small, .tag, .tag-list a, .top-stories__grid .article__info span {
      font-size: 14px;
      line-height: 20px; } }

.list-title {
  padding-top: 2rem;
  border-top: solid 1px #dedede; }

.tag, .tag-list a {
  padding: .5rem .75rem;
  background: #f5f5f5;
  text-decoration: none;
  color: #363636;
  margin: .25rem; }
  .tag:hover, .tag-list a:hover {
    background: #f6fbff;
    color: #0072ce; }

.tag-list {
  padding: 0;
  margin: 0 -.25rem; }
  .tag-list a {
    display: inline-block; }
    .tag-list a li {
      list-style-type: none; }

.tag-container {
  border-top: #dedede solid 1px;
  padding-top: 1rem; }

.img-block {
  margin: 0;
  width: 100%; }
  .img-block img {
    width: 100%; }

.background, figure.background {
  position: absolute;
  background: black;
  height: 100%;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  overflow: hidden; }
  .background figure, figure.background figure {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0; }
  .background img, figure.background img {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.bg-align--top-left {
  object-position: top left; }

.bg-align--top-center {
  object-position: top center; }

.bg-align--top-right {
  object-position: top right; }

.bg-align--center-left {
  object-position: center left; }

.bg-align--center {
  object-position: center; }

.bg-align--center-right {
  object-position: center right; }

.bg-align--bottom-left {
  object-position: bottom left; }

.bg-align--bottom-center {
  object-position: bottom center; }

.bg-align--bottom-right {
  object-position: bottom right; }

.obj-pos--top-left {
  object-position: top left;
  transform-origin: top left; }

.obj-pos--top-center {
  object-position: top center;
  transform-origin: top center; }

.obj-pos--top-right {
  object-position: top right;
  transform-origin: top right; }

.obj-pos--center-left {
  object-position: center left;
  transform-origin: center left; }

.obj-pos--center {
  object-position: center;
  transform-origin: center; }

.obj-pos--center-right {
  object-position: center right;
  transform-origin: center right; }

.obj-pos--bottom-left {
  object-position: bottom left;
  transform-origin: bottom left; }

.obj-pos--bottom-center {
  object-position: bottom center;
  transform-origin: bottom center; }

.obj-pos--bottom-right {
  object-position: bottom right;
  transform-origin: bottom right; }

.article__thumb {
  margin: 0;
  position: relative;
  overflow: hidden; }
  .article__thumb img {
    transition: all 500ms ease-in-out; }
.article span {
  color: #999999; }
.article:hover img {
  transform: scale(1.1); }
.article:hover .title {
  color: #0072ce; }

.article.featured__thumb:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%; }
@media (min-width: 700px) {
  .article.featured__thumb {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem; }
    .article.featured__thumb:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 75%; } }

.top-stories {
  width: 100%; }
  .top-stories h2 {
    padding-top: 2rem;
    border-top: solid 1px #dedede; }
  @media (min-width: 700px) {
    .top-stories__grid {
      grid-template-columns: repeat(4, calc(25% - 1rem));
      grid-column-gap: 1rem;
      display: grid; } }
  .top-stories__grid .article {
    display: flex;
    margin-bottom: 1rem; }
    @media (min-width: 700px) {
      .top-stories__grid .article {
        flex-direction: column; } }
    .top-stories__grid .article__thumb {
      width: 50%;
      margin-right: 1rem; }
      .top-stories__grid .article__thumb:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 56.25%; }
      @media (min-width: 700px) {
        .top-stories__grid .article__thumb {
          width: 100%;
          margin-right: 0;
          margin-bottom: 1rem; }
          .top-stories__grid .article__thumb:before {
            display: block;
            content: "";
            width: 100%;
            padding-top: 75%; } }
      .top-stories__grid .article__thumb img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover; }
    .top-stories__grid .article__info {
      width: 50%; }
      @media (min-width: 700px) {
        .top-stories__grid .article__info {
          width: 100%; } }
    .top-stories__grid .article:hover h3 {
      color: #0072ce; }

.latest-news {
  position: relative; }
  .latest-news .article-list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem; }
    .latest-news .article-list .article {
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 1rem;
      margin-bottom: 1rem; }
      @media (min-width: 1023px) {
        .latest-news .article-list .article {
          grid-column: span 4;
          grid-template-columns: 1fr 3fr; } }
      .latest-news .article-list .article__thumb {
        grid-column: span 1fr; }
        .latest-news .article-list .article__thumb:before {
          display: block;
          content: "";
          width: 100%;
          padding-top: 56.25%; }
        .latest-news .article-list .article__thumb img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          object-fit: cover; }

.featured-article {
  width: 100%;
  max-width: 1200px;
  margin: auto; }
  .featured-article .article {
    width: 100%; }
    .featured-article .article__thumb:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 100%; }
    @media (min-width: 700px) {
      .featured-article .article__thumb {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem; }
        .featured-article .article__thumb:before {
          display: block;
          content: "";
          width: 100%;
          padding-top: 56.25%; } }
    .featured-article .article__thumb img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover; }
    .featured-article .article__info {
      background: #0072ce;
      color: #ffffff;
      width: 300px;
      position: relative;
      bottom: 0; }

.ratio, .ratio--clear, .ratio--square, .ratio--poster, .ratio--double-square {
  position: relative; }
  .ratio--clear:after {
    content: '';
    display: none; }
  .ratio--square:after {
    content: '';
    display: block;
    padding-bottom: 100%; }
  .ratio--poster:after {
    content: '';
    display: block;
    padding-top: 133.3333333333%; }
  .ratio--double-square:after {
    content: '';
    display: block;
    padding-bottom: 60%; }

.canvas {
  z-index: 2; }

.background {
  z-index: 1; }

@keyframes zoom-out--bottom-right {
  0% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }
.zoom-out--bottom-right {
  animation: zoom-out--bottom-right 1s forwards;
  transform-origin: bottom right; }
