html {
  font-size: 15px; }

body {
  margin: 0;
  font-family: 'arial'; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    margin-top: 0; }

main {
  grid-area: main;
  background: #1f1f1f;
  height: 100px; }

aside {
  grid-area: aside;
  background: #eeeeee;
  height: 100px; }

.grid, section {
  display: grid;
  width: 100%;
  grid-template-columns: repeat 4;
  grid-column-gap: 16px;
  grid-template-areas: "main main main main" "aside aside aside aside"; }

.heading-1 {
  font-size: 32px; }

.heading-2 {
  font-size: 28px; }

.heading-3 {
  font-size: 24px; }

.heading-4 {
  font-size: 20px; }

.heading-5 {
  font-size: 17px; }

.paragraph {
  font-size: 15px;
  line-height: 21px; }

.small {
  font-size: 13px;
  line-height: 18xp; }

.img-block {
  margin: 0;
  width: 100%; }
  .img-block img {
    width: 100%; }

.background, figure.background {
  position: absolute;
  background: black;
  height: 100%;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  overflow: hidden; }
  .background figure, figure.background figure {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0; }
  .background img, figure.background img {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.bg-align--top-left {
  object-position: top left; }

.bg-align--top-center {
  object-position: top center; }

.bg-align--top-right {
  object-position: top right; }

.bg-align--center-left {
  object-position: center left; }

.bg-align--center {
  object-position: center; }

.bg-align--center-right {
  object-position: center right; }

.bg-align--bottom-left {
  object-position: bottom left; }

.bg-align--bottom-center {
  object-position: bottom center; }

.bg-align--bottom-right {
  object-position: bottom right; }

.obj-pos--top-left {
  object-position: top left;
  transform-origin: top left; }

.obj-pos--top-center {
  object-position: top center;
  transform-origin: top center; }

.obj-pos--top-right {
  object-position: top right;
  transform-origin: top right; }

.obj-pos--center-left {
  object-position: center left;
  transform-origin: center left; }

.obj-pos--center {
  object-position: center;
  transform-origin: center; }

.obj-pos--center-right {
  object-position: center right;
  transform-origin: center right; }

.obj-pos--bottom-left {
  object-position: bottom left;
  transform-origin: bottom left; }

.obj-pos--bottom-center {
  object-position: bottom center;
  transform-origin: bottom center; }

.obj-pos--bottom-right {
  object-position: bottom right;
  transform-origin: bottom right; }

.ratio, .ratio--clear, .ratio--square, .ratio--double-square {
  position: relative; }
  .ratio--clear:after {
    content: '';
    display: none; }
  .ratio--square:after {
    content: '';
    display: block;
    padding-bottom: 100%; }
  .ratio--double-square:after {
    content: '';
    display: block;
    padding-bottom: 60%; }

.canvas {
  z-index: 2; }

.background {
  z-index: 1; }

@keyframes zoom-out--bottom-right {
  0% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }
.zoom-out--bottom-right {
  animation: zoom-out--bottom-right 1s forwards;
  transform-origin: bottom right; }
