.featured-article{
    width:100%;
    max-width:1200px;
    margin:auto;
    .article{
        width:100%;
        &__thumb{
            &:before {
                display: block;
                content: "";
                width: 100%;
                padding-top: 100%;
            }
            @include breakpoint(mobile-landscape) {
                width:100%;
                margin-right:0;
                margin-bottom:1rem;
                &:before {
                    display: block;
                    content: "";
                    width: 100%;
                    padding-top: (9 / 16) * 100%;
                }
            }
                    img{
            position:absolute;
            top:0;
            left:0;
            height:100%;
            width:100%;
            object-fit:cover;
        }
        }

        &__info{
            background:$satinBlue;
            color:$white;
            width:300px;
            position:relative;
            bottom:0;
        }
    }
}
