.ratio{
	position:relative;
//clear ratio//
&--clear{
	@extend .ratio;
	&:after{
		content:'';
		display:none;
	}
}

//1:1 ratio//
&--square{
	@extend .ratio;
	&:after{
		content:'';
		display:block;
		padding-bottom:100%;
	}
}

//4:3 ratio//
&--poster{
	@extend .ratio;
	&:after{
		content:'';
		display:block;
		padding-top: (4 / 3) * 100%;
	}
}


&--double-square{
	@extend .ratio;
	&:after{
		content:'';
		display:block;
		padding-bottom:60%;
	}
}
}