.spotlight{
	display: grid;
	width:100%;
	grid-template-columns: 100% repeat(2, 1fr);
	grid-template-rows: auto;
	grid-column-gap: 1rem;
	@include breakpoint(tablet-portrait) {
		grid-template-columns: repeat(3, 1fr);
	}
	@include breakpoint(tablet-portrait) {
		display:block;
	}
}