body{
    color:$textGrey;
}

.heading-1{
    font-size:32px;
    @include breakpoint(tablet-portrait) {
        font-size:42px;
     }
}

.heading-2{
    font-size:28px;
    @include breakpoint(tablet-portrait) {
        font-size:36px;
     }
}

.heading-3{
    font-size:24px;
    @include breakpoint(tablet-portrait) {
        font-size:28px;
     }
}

.heading-4{
    font-size:20px;
    margin-bottom:2rem;
    @include breakpoint(tablet-portrait) {
        font-size:22px;
     }
}

.heading-5{
    font-size:17px;
    @include breakpoint(tablet-portrait) {
        font-size:18px;
     }
}

.paragraph{
    font-size:15px;
    line-height:21px;
    @include breakpoint(tablet-portrait) {
        font-size:16px;
        line-height:24px;
     }
}

.small{
    font-size:13px;
    line-height:18xp;
    @include breakpoint(tablet-portrait) {
        font-size:14px;
        line-height:20px
     }
}


