//colors//
$white:#ffffff;                   
$deviceBlack:#1f1f1f;              

$textGrey:#363636;                         
$textLightGrey: #999999;
$keylineGrey:#dedede;

$satinBlue:#0072ce;          
$brightBlue:#00a2ff;
$highlightBlue:#f6fbff;

$midSilver:#eeeeee;
$lightSilver:#f5f5f5;

$actionOrange:#ed5f2b;
