<a href="{{ url }}" class="c-block-media c-block-media--{{ styleModifier }}">

    <div class="c-block-media__media">
        <!-- Remove - {-{> atoms-square:c-block-media__img }}-->
    </div>

    <div class="c-block-media__body">
        <h2 class="c-block-media__headline">{{ headline.short }}</h2>
        <p class="c-block-media__excerpt">{{ excerpt.medium }}</p>
    </div>
</a>
