.background,figure.background  {
	position:absolute;
	background:black;
	height:100%;
	width:100%;
	margin:0;
	top:0;
	left:0;
	overflow:hidden;

	figure{
		height:100%;
		width:100%;
		position:absolute;
		margin:0;
		top:0;
		left:0;
	}

		img{
			height:100%;
			width:100%;
			object-fit:cover;
		}
}


//alignment//
.bg-align--top-left{
	object-position: top left;
}
.bg-align--top-center{
	object-position: top center;
}
.bg-align--top-right{
	object-position: top right;
}
.bg-align--center-left{
	object-position: center left;
}
.bg-align--center{
	object-position: center;
}
.bg-align--center-right{
	object-position: center right;
}
.bg-align--bottom-left{
	object-position: bottom left;
}
.bg-align--bottom-center{
	object-position: bottom center;
}
.bg-align--bottom-right{
	object-position: bottom right;
}


////object-positioning//

.obj-pos--top-left{
	object-position: top left;
	transform-origin: top left;
}

.obj-pos--top-center{
	object-position:  top center;
	transform-origin: top center;
}

.obj-pos--top-right{
	object-position:  top right;
	transform-origin: top right;
}

.obj-pos--center-left{
	object-position:  center left;
	transform-origin: center left;
}

.obj-pos--center{
	object-position: center;
	transform-origin: center;
}

.obj-pos--center-right{
	object-position:  center right;
	transform-origin: center right;
}

.obj-pos--bottom-left{
	object-position:  bottom left;
	transform-origin: bottom left;
}

.obj-pos--bottom-center{
	object-position:  bottom center;
	transform-origin: bottom center;
}

.obj-pos--bottom-right{
	object-position:  bottom right;
	transform-origin: bottom right;
}
